.nav {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100vw;
    background: lightblue;
    height: 3vh;
    border-bottom: 1px solid black;
    padding-top: .3rem;
}

.nav div {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.box {
    transition: 1s;
    font-size: 30px;
    background-color: green;
    border-radius: 15px;
    margin: 10px;
    margin-right:5px;
    margin-bottom: 0px;
    text-align: center;
    width: 220px;
    cursor: grab;
}

.box:hover {
    background-color: purple;
  }

.star {
    font-size: 120px;
    text-shadow: yellow 3px 3px;
    color: lightgreen;
}

.side {
    background-image: url("/assets/media/ex_02/side.jpg");
    width: 100px;
    height: 97vh;
    background-repeat: repeat-y;
}

.wrapper {
    display: flex;
}

.wrapper2 {
    display: block;
}

.wrapper3 {
  display: flex;
  flex-direction: row;
}

body {
    padding: 0px;
    margin: 0px;
}

@media screen and (max-width: 600px) {
    .wrapper2 {
      margin: 0px;
      padding: 0px;
    }
    .wrapper3 {
      display: flex;
      flex-direction: column;
      padding: 0px;
      margin: 0px;
    }
}

@media screen and (max-width: 500px) {
    .side {
        display: none;
    }
}