@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  font-family: var(--font-family);
  color: var(--color-text);
}
body {
  background: var(--gradient-body);
  margin: 0;
  max-width: 1920px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}
p,
a,
li {
  font-size: 20px;
  line-height: 36px;
}

br {
  line-height: 48px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
  font-style: italic;
}
h3 {
  font-size: 28px;
  font-style: italic;
}

h1,
h2,
h3 {
  color: var(--color-subtext);
  letter-spacing: -0.04em;
}
p {
  color: white;
  letter-spacing: -0.04em;
}
:root {
  --font-family: "Manrope", sans-serif;
  --gradient-text: linear-gradient(270deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);
  --gradient-body: #020024;
  --color-bg: #040c18;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;
  --color-navhover: #9b75b7;
  --color-navhover-transparency: rgba(155, 117, 183, 0.5);
  --nav-height: 3rem;
  --nav-item-width: 6rem;
}

/* Generic styles used all over */
.center {
  text-align: center;
}

.section-padding {
  padding: 2rem 3rem;
}
.content-padding {
  padding: 1rem 2rem;
}
/* Nav styles */

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  top: 0;
  overflow: hidden;
  background: var(--gradient-bar);
  margin: 0;
  font-size: 20px;
}

.nav-content {
  display: none;
  z-index: 1;
  position: absolute;
  background: transparent;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(8px);
  min-width: 160px;
  border: rgba(4, 12, 24, 1) 1px solid;
  border-top: none;
  border-radius: 0 0 0.75rem 0.75rem;
}

.nav-content > a {
  position: relative;
  text-decoration: none;
  color: white;
  display: block;
  padding: 14px 16px;
  margin: 0;
}

/* Styles for always-shown portion in nav */

.nav-button {
  display: block;
  padding: 1rem 1.5rem;
  text-decoration: none;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-size: inherit;
}

/* Styles for hovering nav items */

.nav-content > a:hover,
.nav-item:hover .nav-button {
  background-color: var(--color-navhover-transparency);
  color: white;
}

.nav-item:hover .nav-content {
  display: block;
}

.nav-item:hover {
  cursor: default;
}

/* TODO 
  Change the color of current page to different than hover color
  Add a border to the bottom of the nav bar
*/
.active-nav {
  background-color: var(--color-navhover);
  color: white !important;
}
/* Flex layout */

.container {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  justify-content: center;
  flex: 1;
}

.flex-two {
  /* for use in a three item row */
  flex: 2;
}

.flex-three {
  /* for use in a four item row */
  flex: 3;
}

.code {
  display: inline-block;
  background: var(--color-blog);
  border-radius: 0.75rem;
  color: var(--color-subtext);
  padding: 0 0.33rem;
}

.quote {
  font-style: italic;
  color: var(--color-navhover);
  background: unset;
}

.content-divide {
  width: 90%;
  height: 1px;
  border: none;
  background-color: var(--color-subtext);
}

.noError {
  display: none;
}

.error {
  display: unset;
  color: red;
  border: red 1px solid;
}

.br {
  display: block;
  margin-bottom: 0.5rem;
}
.stickyTop {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* ID Selectors */
#pghPicture {
  width: 100%;
}

#theMap {
  min-width: 33vw; /* needs to change on mobile/tablet */
}

#scrollBarContainer {
  display: flex;
  height: 3px;
  width: 100%;
}
#scrollBar {
  height: 3px;
  width: 0%;
  background: var(--gradient-bar);
}
.page-cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: 2s;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient-body);
}
.hide {
  display: none;
}
/* cssportal.com generated generic  */
.custom-loader {
  width: 100px;
  height: 100px;
  border: 4px solid #ff8a71;
  background: repeating-conic-gradient(#0000 0 90deg, #ff8a71 0 180deg),
    repeating-conic-gradient(#ff8a71 0 90deg, #0000 0 180deg);
  background-size: 32px 32px;
  background-position: 0 0;
  animation: h7 4s infinite;
}

@keyframes h7 {
  100% {
    background-position: 0px 64px, 32px 0px;
  }
}

@media screen and (max-width: 1024px) {
  .row {
    flex-direction: column;
  }
  .twothirds {
    flex: 1 1 100%;
  }
  .onethirds {
    flex: 1 1 100%;
  }
  #theMap {
    min-height: 33vh;
  }
  #theMap iframe {
    height: 33vh !important;
    width: 100% !important;
  }
  .content-padding {
    padding: 0.25rem 0.5rem;
  }
}
