@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  font-family: var(--font-family);
  color: var(--color-text);
}
body {
  background: var(--color-bg);
  margin: 0;
}
p,
a,
li {
  font-size: 20px;
  line-height: 36px;
}

h1 {
  font-size: 36px;
}
:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-bg: #040c18;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;
  --color-navhover: #9b75b7;
  --nav-height: 3rem;
  --nav-item-width: 6rem;
}
/* Generic styles used all over */
.center {
  text-align: center;
}

.section__padding {
  padding: 2rem 3rem;
}
.content-padding {
  padding: 1rem 2rem;
}
/* Nav styles */

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  top: 0;
  overflow: hidden;
  background-color: var(--color-blog);
  margin: 0;
  font-size: 20px;
}

.nav-content {
  display: none;
  z-index: 1;
  position: absolute;
  background-color: var(--color-blog);
  min-width: 160px;
}

.nav-content > a {
  position: relative;
  text-decoration: none;
  color: var(--color-text);
  display: block;
  padding: 14px 16px;
  margin: 0;
}

/* Styles for always-shown portion in nav */

.nav-button {
  display: block;
  padding: 1rem 1.5rem;
  text-decoration: none;
  border: none;
  outline: none;
  color: var(--color-text);
  background-color: inherit;
  font-size: inherit;
}

/* Styles for hovering nav items */

.nav-content > a:hover,
.nav-item:hover .nav-button {
  background-color: var(--color-navhover);
  color: var(--color-bg);
}

.nav-item:hover .nav-content {
  display: block;
}

.nav-item:hover {
  cursor: default;
}

/* TODO 
  Change the color of current page to different than hover color
  Add a border to the bottom of the nav bar
*/
.active-nav {
  background-color: var(--color-navhover);
  color: var(--color-bg) !important;
}
/* Flex layout */

.container {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  justify-content: center;
}

.twothirds {
  flex: 2 1 40vw;
}

.onethirds {
  flex: 1 60vw;
}

/* ID Selectors */
#pghPicture {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .twothirds {
    flex: 1 1 100%;
  }
  .onethirds {
    flex: 1 1 100%;
  }
}
